{% include '../base.html' %}

{% block content %}
<div class="p-4" style="margin-top: 64px; margin-bottom: 64px;">
  <form class="max-w-screen-md mx-auto" method="post">
    {% csrf_token %}
    <h2 class="text-4xl font-bold">Reset Password</h2>
    <p class="text-gray-500 dark:text-gray-400">Enter your email address and we'll send you a link to reset your password.</p>
    <div class="mb-5 mt-5 form-group">
        <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
        <input type="email" id="id_email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="name@domain.com" required />
      </div>
      <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Send reset link</button>
  </form>
</div>
{% endblock %}

{% include 'footer.html' %}