{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnKnow LMS</title>
    <link href="{% static 'dist/output.css' %}" rel="stylesheet" />
    <link href="{% static 'dist/flowbite.css' %}" rel="stylesheet" />
    <link href="{% static 'dist/flowbite.min.css' %}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
    {% include './maintenance_banner.html' %}
    <script src="{% static 'dist/flowbite.js' %}" ></script>
    <script src="{% static 'dist/flowbite.min.js' %}" ></script>
    <script src="{% static 'dist/datepicker.js' %}" ></script>
</body>
</html>